footer{
    background-color: black;
    
}

.ref{
    height: 100px;
    width: auto;
    border: 3px solid var(--couleur--projet-5);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    padding: 0 10px;
}

.contact{

}