footer{
    background-color: black;
    text-align: center;
}

.ref{
    height: 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.foot {
    font-family: var(--sed);
}