footer{
    background-color: black;
    
}

.ref{
    height: 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.mmi{
text-align: center;
}