header {
    background-color: var(--couleur--projet-3);
    height: 100px;
    width: auto;
    border: 3px solid var(--couleur--projet-5);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    padding: 0 10px;
}

.hamburger {
    width: 3em;
    height: 2em;
    fill: black;
}

.cross {
    width: 3em;
    height: 3em;
    fill: black;
}


.langue {
    position: absolute;
    top: 2em;
    right: 4em;
    text-decoration: underline; 
    font-size: 24px;
    font-family: var(--sed);
    color: black;
}

.logo {
    width: auto;
    height: 5em;
}