.berthaaccueil {
    background-image: url(../../public/img/rue.webp);
    background-attachment: none;
    background-size: cover;
    text-align: center;
    padding-bottom: 50px;
}

.berthaartiste {
    background-image: url(../../public/img/musee.webp);
    background-attachment: none;
    background-size: cover;
    text-align: center;
}

.berthaoeuvre {
    background-image: url(../../public/img/mur.webp);
    background-attachment: none;
    background-size: cover;
    text-align: center;
}

.panneauVille {
    width: auto;
    height: 3.5em;
    margin: 0.2em;
}

.phrase{
    height: 4em;
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    color: white;
    margin-top: 0;

}

.reseau{
    height: 2em;
    width: auto;
}

.mmi{
    height: auto;
    width: 36.5%;
    position: center;
}

.foot{
    color: white;
    font-size: 1.5em;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

img {
    height: 11.875em;
    width: auto;
}

.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carrousel_ecran {
    width: 100%;
    flex: none;
    scroll-snap-align: start;
}

.carrousel_ecran figure {
    margin: 0;
}

.carrousel {
    position: relative;
}
  
.carrousel_btn {
    position: absolute;
    top: 17%; /* centre verticalement */
    transform: translateY(-50%); /* methode du point mort */
    width: 2rem;
    height: 2rem;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    color: #fff;
}
  
.carrousel_btn-avant {
    left: 0;
}
  
.carrousel_btn-apres {
    right: 0;
}


.caroussel_liste-liens {
    border: solid;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 30px;
    padding: 10px 0 8px 0;
    list-style: none;
    gap: 1rem;
}

figcaption {
    font-family: var(--sed);
}

.artiste {
    font-family: var(--sed);
}

.descriptionArtiste {
    color: white;
    font-family: var(--mont);
    margin: 1em;
    margin-top: 2em;
    justify-content: center;
    padding: 5px;
    background-color: black;
}

.descriptionOeuvre {
    color: black;
    font-family: var(--mont);
    margin: 1em;
    margin-top: 2em;
    justify-content: center;
    padding: 5px;
    background-color: #BFC0C4;
}

.fondArtiste {
    height: 10em;
    width: auto;
    text-align: left;     
}

.suivant {
    height: 4em;
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: em;
    align-items: center;
    color: white;
    margin-top: 20px;
    padding-top: 17px;
}

.suiv {
    background-color: black;
    height: 3em;
    width: 6em;
    font-family: var(--sed);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;}

.prec {
    background-color: black;
    height: 3em;
    width: 6em;
    font-family: var(--sed);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;}

.txtsuivant {
    color: white;
    font-style: bold;
}

