.berthaaccueil {
    background-image: url(../../public/img/rue.webp);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    z-index: -2;
}

.panneauVille {
    
}

.poteau {
    z-index: -1;
}



