.menu {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: black;
    color: #fff;
    margin: 0;
    height: 100%;
}

.menu__overlay {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0;
}

.menu__link  {
    padding: 0;
}

.menu__link li {
    height: 4em;
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    color: white;

}

.menu__link li a {
    color: white;
}

.signature {
    width: 10em;
    height: 10em;
}